@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after; {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	background-color: #ddd4c5;
}

.img-flex {
	display: block;
	width: 100%;
}

.inline {
	display: inline-block;
}

.left {
	float: left;
}

.center {
	text-align: center;
}

.white {
	color: white;
}

/** Master Header **/
.masthead {
	background: transparent url("../images/masthead-bg.png") repeat left center;
	text-align: center;
}

.title {
	background-color: #ddd4c5;
	display: inline-block;
	text-shadow: 3px 3px 0 #87724f;
}

.logo {
	width: 2rem;
	vertical-align: middle;
}

/** Content **/
.img-border {
	margin: 0 1.5rem 0;
	border-image: url("../images/panel-border.png") 20 20 20 20 stretch stretch;
	border-width: 20px 20px 20px 20px;
}

.icon-hat {
	margin: 0 35% 0;
	width: 4rem;
}

.icon-cuffs {
	margin: 0 40% 0;
	width: 2rem;
}

.info {
	margin: 0 1.5rem 0 1.5rem;
	background-color: #87724f;
}

.crimes {
	padding-left: 1rem;
	font-family: "Georgia", serif;
}






